@model Sistemas_de_Turnos_Medico.ModelView.Paginador

Total Paginas: @Model.TotalPaginas
Total Registros: @Model.TotalRegistros
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        @if (Model.PaginaActual != 1)
        {
            <li class="page-item @(Model.PaginaActual == 1 ? "disabled" : "")">
                <a class="page-link" asp-all-route-data="@Model.ValoresQueryString" asp-route-pagina="@(Model.PaginaActual - 1)" tabindex="-1" aria-disabled="true"
                   asp-route-ordenActual="@ViewData["OrdenActual"]" asp-route-filtroActual="@ViewData["FiltroActual"]">
                    <i class="bi bi-arrow-left-circle-fill"></i>
                </a>
            </li>
        }
        <li class="page-item active" aria-current="page">
            <a class="page-link" href="#">@Model.PaginaActual</a>
        </li>
        @if (Model.TotalPaginas >= (Model.PaginaActual + 1))
        {
            <li class="page-item">
                <a class="page-link" asp-all-route-data="@Model.ValoresQueryString" asp-route-pagina="@(Model.PaginaActual + 1)"
                   asp-route-ordenActual="@ViewData["OrdenActual"]" asp-route-filtroActual="@ViewData["FiltroActual"]">
                    @(Model.PaginaActual + 1)
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" asp-all-route-data="@Model.ValoresQueryString" asp-route-pagina="@(Model.PaginaActual + 1)"
                   asp-route-ordenActual="@ViewData["OrdenActual"]" asp-route-filtroActual="@ViewData["FiltroActual"]">
                    <i class="bi bi-arrow-right-circle-fill"></i>
                </a>
            </li>
        }
        @if (Model.TotalPaginas > 1 && Model.PaginaActual < Model.TotalPaginas)
        {
            <li class="page-item">
                <a class="page-link" asp-all-route-data="@Model.ValoresQueryString" asp-route-pagina="@(Model.TotalPaginas)"
                   asp-route-ordenActual="@ViewData["OrdenActual"]" asp-route-filtroActual="@ViewData["FiltroActual"]">
                    Ultima
                </a>
            </li>
        }
    </ul>
</nav>