@model IEnumerable<Sistemas_de_Turnos_Medico.Models.Paciente>

@{
    ViewData["Title"] = "Pacientes";
}

<h1>Pacientes</h1>

<div style="display: flex; justify-content: start;">
    <p style="margin-right: 25px; min-width: 157px;">
        <a asp-action="Create" class="btn btn-success" title="Crear nuevo"><i class="bi bi-plus-circle"></i> Nuevo Paciente</a>
    </p>
    <label style="align-self: center; margin-right: 25px; margin-bottom: 1rem;">O</label>
    <form asp-action="Importar" enctype="multipart/form-data" class="input-group mb-3" sytle="margin-top: 10px; max-width: 620px;">
        <span class="input-group-text" style="max-height: 50px; margin: auto;">Importar Pacientes por archivo CSV</span>
        <input class="form-control" name="archivoExcel" id="archivoExcel" type="file" style="max-height: 50px; margin: auto;" />
        <input type="submit" value="Importar" class="btn btn-success" style="margin: auto; border-radius: 0px 4px 4px 0px;" />
    </form>
</div>
<table class="table text-center">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DNI)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Celular)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Foto)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr style="vertical-align: middle;">
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DNI)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Celular)
            </td>
            <td>
                @if (!string.IsNullOrEmpty(item.Foto))
                {
                    <img src="~/fotos/@item.Foto" class="rounded-circle" style="max-width:50px" />
                }
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning btn-sm" title="Editar">
                    <i class="bi bi-pencil-square"></i>
                </a> |
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info btn-sm" title="Detalles">
                    <i class="bi bi-card-text"></i>
                </a> |
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm eliminar" title="Borrar">
                    <i class="bi bi-trash-fill"></i>
                </a>
            </td>
        </tr>
}
    </tbody>
</table>

<style>
    .eliminar {
        color: black;
        background-color: #e65757;
    }

    .eliminar:hover {
        background-color: #e66666;
    }
</style>